@import './base.css';

#app {
  max-width: 1280px;
  font-weight: normal;
}

a,
.white {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

header {
  line-height: 1;
  max-height: 100vh;
  font-family: sans-serif;
  width: 100%;
}

nav a:first-of-type {
  border: 0;
}

header .wrapper {
  display: flex;
  place-items: center;
  flex-wrap: wrap;
}

.nav-right-item {
  font-family: 'oregon_ldo_bookregular';
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  font-size: 10.5vw;
  font-weight: 300;
  line-height: .95em;
  text-decoration: none;
  transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
  display: block;
  position: relative;
  padding-left: 5%;
  transition: all 0.3s ease-in-out;
  left: 70px;
}

@media (hover: hover) {
  .nav-right-item:hover {
    font-family:'oregon_ldo_bookoblique';
    text-decoration: none;
    transform: translate(10px);
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
  }

  
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  header{
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /*grid-template-columns: ;*/

  }

  .nav-left {
    z-index: 600;
    height: 100vh;
    flex-direction: column;
    display: flex;
    position: fixed;
    margin-right: 50%;
}
.nav-left-item {
    flex: 0 0;
    margin-bottom: 40px;
}
.nav-left-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    padding-left: 100%;
} 

  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

  @font-face {
    font-family: 'oregon_ldo_bookoblique';
    src: url('fonts/webfontkit-20230509-141444/oregon_ldo_book_oblique-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230509-141444/oregon_ldo_book_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oregon_ldo_bookregular';
    src: url('fonts/webfontkit-20230509-141444/oregon_ldo_book-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230509-141444/oregon_ldo_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
}
