@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.white {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    font-family:'oregon_ldo_bookoblique';
    text-decoration: none;
    transform: translate(10px);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

  }

  @font-face {
    font-family: 'oregon_ldo_bookoblique';
    src: url('fonts/webfontkit-20230509-141444/oregon_ldo_book_oblique-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230509-141444/oregon_ldo_book_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oregon_ldo_bookregular';
    src: url('fonts/webfontkit-20230509-141444/oregon_ldo_book-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230509-141444/oregon_ldo_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
}
